.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section > h2 {
    padding: .8em 0;
}

.home-section > article {
    max-width: 480px;
    border: 1px #999 solid;
    padding: 1em 1em;
    border-radius: 10px;
}

.home-icon {
    padding: 2em;
    width: 200px;
    height: 200px;
}