.add-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 1em;
}

.add-task label {
  margin: 0;
  padding: 0;
}

.add-task button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    /* height: 33px; */
    background-color: rgb(0, 115, 255);
    color: aliceblue;
    font-size: x-large;
    border-radius: 10px;
    transition: all 0.3s ease; /* Agrega una transición suave */
}
  
  .add-task button:hover {
    transform: scale(1.1); /* Escala del botón */
  }
  

.input-text{
    width: 95%;
    border-radius: 8px;
    border: 1px #999 solid;
    padding: .5em;
}

.input-error {
    width: 95%;
    border-radius: 8px;
    border: 1px red solid;
    padding: .5em;
}

.input-error:focus {
  outline-color: red;
}