.task-component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 8px;
}

.icons{
    width: 20px;
    height: 20px;
}

button{
    border: 0;
    padding: 0;
    cursor: pointer;
}

#btn-edit{
    color: cornflowerblue;
}

#btn-delete{
    color: red;
}

.check-task{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.check-task > p{
    padding-right: 2em;
}

.buttons-actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.task-strikethrough {
    text-decoration: line-through;
    text-decoration-color: blue;
  }
  