.task-component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 5px;
/*     background-color: #eeeeee; */
    padding: 8px;

    animation-name: agregarTarea;
    animation-duration: 0.5s;

    transition: all 0.3s ease; /* Agrega una transición suave */
}


.task-component:hover {
    transform: scale(1.1); /* Escala del botón */
  }

@keyframes agregarTarea {
  from { opacity: 0; transform: translateX(-100px); }
  to { opacity: 1; transform: translateX(0); }
}

.icons{
    width: 20px;
    height: 20px;
}

button{
    border: 0;
    padding: 0;
    cursor: pointer;
}

#btn-edit{
    color: cornflowerblue;
}

#btn-delete{
    color: red;
}

.check-task{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.check-task > p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
}

.buttons-actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.task-strikethrough {
    text-decoration: line-through;
    text-decoration-color: blue;
  }
  