#btn-reset{
    font-size: 1em;
    margin: .2em auto;
    color:aliceblue;
    background-color: rgb(234, 88, 88);
    padding: .5em;
    border-radius: 8px;

    transition: all 0.3s ease; /* Agrega una transición suave */
}

#btn-reset:hover {
    transform: scale(1.1); /* Escala del botón */
  }