
#root{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border: 1px #999 solid;
    border-radius: .5em;
}

header{
    text-align: center;
    padding: .5em;
}